Source: smokegen
Section: devel
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: debhelper (>= 7.3.16), pkg-kde-tools (>= 0.5), cmake, libqt4-dev
Standards-Version: 3.9.2
Homepage: http://projects.kde.org/projects/kde/kdebindings/smoke/smokegen
#Vcs-Git: git://git.debian.org/collab-maint/smokegen.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/smokegen.git;a=summary

Package: smoke-dev-tools
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SMOKE development tools
 This package contains the development tools to do bindings with the 
 Scripting MetaObject Kompiler Engine, used by several Qt and KDE bindings, 
 as well as some bindings for the Wt library.

